/* Reset de estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #051029;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
}

details>summary {
  list-style: none;
}

summary::webkit-details-marker {
  display: none;
}

summary::after {
  content: 'ABRIR';
  display: flex;
  justify-content: center;
  cursor: pointer;
}

details[open] summary:after {
  content: 'FECHAR';
}

#sobremim,
.dados-pessoais,
.curso,
#projetos,
#habilidades,
#contatos {
  width: 95%;
}


/* Estilo do cabeçalho */
.header {
  background-color: #333;
  color: white;
  width: 100%;
}

.cabecalho {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.5s ease;
}

.logo img {
  border-radius: 30%;
  background-size: cover;
  height: 100px;
  width: auto;
}


/* Estilos para o menu */
.menu {
  background-color: #1a368344;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#menu {
  display: flex;
}

.menu li {
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 25px;
  transition: background-color 0.3s, color 0.3s;
}

.menu li:hover {
  border-radius: 25px;
  background-color: #0078d4;
  color: #fff;
}


/* Estilo da seção "Início" */
#inicio {
  width: 100%;
}

.inicio {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicio img {
  border-radius: 100%;
  width: 300px;
  margin-right: 10px;
  box-shadow: 0px 0px 150px blue;
}

.inicio p{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 45px;
  width: 100%;
}

#container {
  margin-left: 10px;
}

.btn-portifolio a {
  background: linear-gradient(60deg, blue, red);
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
}

.btn-portifolio {
  margin-top: -50px;
  padding-bottom:100px;
  padding-left: 40px;
}


/* Rodapé */
footer {
  width: 100%;
}

.footer {
  padding: 85px 15% 70px;
}

.footer {
  background-color: #080427;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  position: relative;
  color: white;
  justify-content: space-between;
}

.portfolio {
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
}

.portfolio img {
  margin: 0px;
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.fundo {
  width: 100%;
  height: 100px;
}

.footer-content h4 {
  color: #5707eb;
  margin-bottom: 30px;
  font-size: 30px;
}

.footer-content a {
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease;
  color: white;
}

.footer-content p {
  font-size: 16px;
  line-height: 25px;
  margin: 5px 0;
}

.footer-content a {
  font-size: 16px;
  color: rgb(10, 14, 247);
  text-decoration: none;
  cursor: pointer;
}

.footer-content a:hover {
  font-size: 17px;
  color: white;
}

.acessar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.acessar a {
  transition: transform 0.3s ease-in-out;
}

.acessar a:hover {
  transform: scale(1.1);
}

#curriculo {
  width: 70px;
  mix-blend-mode: color-burn;
}

#instagram{
  width: 70px;
}

#linked {
  border-radius: 10px;
  width: 50px;
}

footer div{
  width: 100%;
  background-color: #080427;
}

.criador {
  color: white;
  display: flex;
  justify-content: space-between;
}

.criador a {
  color: white;
}

.origem {
  color: white;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}


/* Responsividade - tablet*/
@media screen and (max-width: 767px) {
  /* Estilo do corpo */
  body {
    background-color: #051029;
  }


  /* Estilo do menu */
  .menu {
    height: 100%;
    
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
  }


  /* Estilo do inicio e foto */
  .inicio p{
    font-size: 25px;
  }

  .inicio img {
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
  }

  .btn-portifolio {
    margin-top: 10px;
    padding-left: 0px;
  }


  /*Estilo do Curso*/
  .proz h6, p{
    font-size: 15px;
  }

  .proz {
    padding-bottom: 50px;
  }

  #curso {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  /*Estilo dos projetos*/
  .espaçamento {
    justify-content: space-between;
  }

  .project {
    margin: 5px;
    width: 100%;
  }

  .porcentagens p {
    font-size: 16px;
  }


  /* Estilo das habilidades*/
  .habilidades {
    display: flex;
    flex-wrap: wrap;
  }

  .habilidades {
    width: 100%;
    flex-wrap: wrap;
  }

  .html,
  .css,
  .js,
  .bootstrap,
  .mysql {
    width: 50%;
  }


  /*Estilo do Rodapé*/
  .footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 5%;
  }

  .footer-content {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  /* Estilo dos Contatos */
  .contato {
    flex-direction: column;
    align-items: center;
  }
}


/* Responsividade - Celular */
@media screen and (max-width: 480px) {
  /* Estilo do Menu*/
  .menu {
    height: 100%;
  }

  #menu{
    display: flex;
    flex-direction: column;
  }


  /* Estilo do Inicio */  
  .inicio img {
    width: 30%;
  }

  #container p {
    font-size: 15px;
  }


  /* Estilo do Sobre Mim */
  #sobremim h3 {
    font-size: 15px;
  }

  #sobremim p {
    font-size: 13px;
  }


  /* Estilo dos Cursos*/
  .barra-curso,
  .curso h3 {
    font-size: 10px;
  }


  /* Estilo das Contatos */
  .github:hover,
  .gmail:hover,
  .linked:hover {
    background-color: rgb(14, 209, 199);
    padding: 50px 10px;
  }


  /* Estilo do RODAPÉ */
  .footer {
    flex-direction: column;
    align-items: center;
  }

  footer .origem {
    font-size: 15px;
  }
}