/* Estilo da seção "Projetos" */
#projetos {
    background-color: #09193f;
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    position: relative;
    margin: 20px 0;
    width: 100%;
    height: 100%;
}

.espaçamento {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project {
    width: 20%;
    position: relative;
    display: inline-block;
}

.project-img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.project-details img {
    width: 15%;
}

.project:hover .project-title {
    opacity: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.project-details {
    position: relative;
    z-index: 1001;
}

.project-details {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2B4275;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border-radius: 5px;
}

.project-details h2 {
    margin-top: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2980b9;
}


/*MINHA MODIFICAÇÕES*/
.divisao,
.porcentagens {
    display: flex;
    justify-content: space-around;
}

.escrita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalhes p {
    margin: 0px;
    width: 90%;
    margin-bottom: 30px;
}

.porcentagens img{
    width: 50px;
}

@media screen and (max-width: 480px) {
    /* Estilo dos Projetos*/
    .container {
        display: flex;
        justify-content: space-between;
    }

    .espaçamento {
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .project {
        width: 100%;
    }

    .project-details img{
        width: 30%;        
    }

    .project-details p{
        font-size: 15px;
    }

    .porcentagens {
        width: 100%;
    }

    .porcentagens div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .porcentagens img {
        width: 70%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}